<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="account">
        <input type="text" v-model="info.age">
    </div>


    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                account: 'admin',
                 info:{
                    age:'18'
                 }
            },
            watch: {
                // account(newVal, oldVal) {
                //     // 监听变化触发函数
                //     console.log(newVal, oldVal);
                // }


                // 对象格式
                account: {
                    handler(newVal, oldVal) {
                        console.log(newVal, oldVal);
                    },
                    // 控制侦听器自动触发
                    immediate: true
                },
                info:{
                    handler(newVal, oldVal) {
                        console.log(newVal.age, oldVal.age);
                    },
                    // 监听对象属性变化
                    deep:true
                }
            }

        })
    </script>
</body>

</html>